
<h1>タスク一覧</h1>
<div class="row">
  <div class="col-xs-8">

    <% if @tasks.any? %>
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="info">
            <th>id</th>
            <th>作成日時</th>
            <th>タスク</th>
            <th>ステータス</th>
            <th>消去ボタン</th>
          </tr>
        </thead>
        <tbody>
          <% @tasks.each do |task| %>
            <tr>
              <td><%= link_to task.id, task %></td>
              <td><%= task[:created_at].strftime("%Y-%m-%d_%H:%M") %></td>
              <td><%= task.content %></td>
              <td><%= task.status %></td>
              <td><%= link_to '消去', task, method: :delete, data: { confirm: 'タスクを消してよろしいですか?' }, class: 'btn btn-default' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
       <%= paginate @tasks %>
      </div>
    <% end %>
  </div>
</div>